@media (max-width: 1024px) {
  .grid-box {
    max-width: 400px;
  }

  .span-box {
    grid-column: 0;
  }

  .box {
    margin-left: 0;
  }
  .grid-box {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
  .grid-box {
    max-width: 100%;
  }
}
